# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos (SQL Server)
DB_USER=sa
DB_PASSWORD=Passw0rd!
DB_SERVER=localhost
DB_DATABASE=Renfi
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

# Seguridad y Autenticación JWT
JWT_SECRET=renfi_jwt_super_secret_key_2025_safe_token
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=*

