USE [master]
GO
/****** Object:  Database [Renfi]    Script Date: 14/11/2025 10:29:58 p. m. ******/
CREATE DATABASE [Renfi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Renfi', FILENAME = N'/var/opt/mssql/data/Renfi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Renfi_log', FILENAME = N'/var/opt/mssql/data/Renfi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Renfi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Renfi]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NULL,
	[FechaFactura] [datetime] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finca]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finca](
	[IdFinca] [int] IDENTITY(1,1) NOT NULL,
	[IdMunicipio] [int] NULL,
	[NumeroDocumentoUsuario] [int] NULL,
	[NombreFinca] [varchar](300) NULL,
	[Direccion] [varchar](500) NULL,
	[InformacionAdicional] [varchar](500) NULL,
	[Capacidad] [int] NULL,
	[Precio] [int] NULL,
	[Estado] [varchar](150) NULL,
	[Calificacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFinca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagen]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagen](
	[IdImagen] [int] IDENTITY(1,1) NOT NULL,
	[UrlImagen] [varchar](500) NULL,
	[IdFinca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoDePago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoDePago](
	[IdMetodoDePago] [int] IDENTITY(1,1) NOT NULL,
	[NombreMetodoDePago] [varchar](150) NULL,
	[PagoMixto] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodoDePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[NombreMunicipio] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NULL,
	[IdMetodoDePago] [int] NULL,
	[Monto] [int] NULL,
	[FechaPago] [datetime] NULL,
	[EstadoPago] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdFinca] [int] NULL,
	[NumeroDocumentoUsuario] [int] NULL,
	[FechaReserva] [datetime] NULL,
	[FechaEntrada] [datetime] NULL,
	[FechaSalida] [datetime] NULL,
	[Estado] [varchar](150) NULL,
	[MontoReserva] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[NumeroDocumento] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[NombreUsuario] [varchar](300) NULL,
	[ApellidoUsuario] [varchar](300) NULL,
	[Telefono] [varchar](100) NULL,
	[Contrasena] [varchar](256) NULL,
	[Correo] [varchar](500) NULL,
	[Estado] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_IdReserva_Factura] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([IdReserva])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_IdReserva_Factura]
GO
ALTER TABLE [dbo].[Finca]  WITH CHECK ADD  CONSTRAINT [FK_IdMunicipio_Finca] FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Finca] CHECK CONSTRAINT [FK_IdMunicipio_Finca]
GO
ALTER TABLE [dbo].[Finca]  WITH CHECK ADD  CONSTRAINT [FK_NumeroDocumento_Finca] FOREIGN KEY([NumeroDocumentoUsuario])
REFERENCES [dbo].[Usuario] ([NumeroDocumento])
GO
ALTER TABLE [dbo].[Finca] CHECK CONSTRAINT [FK_NumeroDocumento_Finca]
GO
ALTER TABLE [dbo].[Imagen]  WITH CHECK ADD  CONSTRAINT [FK_IdFinca_Imagen] FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
GO
ALTER TABLE [dbo].[Imagen] CHECK CONSTRAINT [FK_IdFinca_Imagen]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_IdFactura_Pago] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_IdFactura_Pago]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_IdMetodoPago_Pago] FOREIGN KEY([IdMetodoDePago])
REFERENCES [dbo].[MetodoDePago] ([IdMetodoDePago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_IdMetodoPago_Pago]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_IdFinca_Reserva] FOREIGN KEY([IdFinca])
REFERENCES [dbo].[Finca] ([IdFinca])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_IdFinca_Reserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_NumeroDocumentoUsuario_Reserva] FOREIGN KEY([NumeroDocumentoUsuario])
REFERENCES [dbo].[Usuario] ([NumeroDocumento])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_NumeroDocumentoUsuario_Reserva]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_IdRol_Usuario] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_IdRol_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarFactura]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarFactura]
  @IdFactura INT,
  @IdReserva INT,
  @FechaFactura DATETIME,
  @Total INT
AS
BEGIN
  UPDATE Factura
  SET IdReserva = @IdReserva,
      FechaFactura = @FechaFactura,
      Total = @Total
  WHERE IdFactura = @IdFactura;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarFinca]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarFinca]
  @IdFinca INT,
  @NombreFinca VARCHAR(300),
  @Direccion VARCHAR(500),
  @InformacionAdicional VARCHAR(500),
  @Capacidad INT,
  @Precio INT,
  @Estado VARCHAR(150)
AS
BEGIN
  UPDATE Finca
  SET NombreFinca = @NombreFinca,
      Direccion = @Direccion,
      InformacionAdicional = @InformacionAdicional,
      Capacidad = @Capacidad,
      Precio = @Precio,
      Estado = @Estado
  WHERE IdFinca = @IdFinca;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarImagen]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarImagen]
  @IdImagen INT,
  @UrlImagen VARCHAR(500),
  @IdFinca INT
AS
BEGIN
  UPDATE Imagen
  SET UrlImagen = @UrlImagen,
      IdFinca = @IdFinca
  WHERE IdImagen = @IdImagen;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarMetodoDePago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarMetodoDePago]
  @IdMetodoDePago INT,
  @NombreMetodoDePago VARCHAR(150),
  @PagoMixto BIT
AS
BEGIN
  UPDATE MetodoDePago
  SET NombreMetodoDePago = @NombreMetodoDePago,
      PagoMixto = @PagoMixto
  WHERE IdMetodoDePago = @IdMetodoDePago;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarMunicipio]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarMunicipio]
  @IdMunicipio INT,
  @NombreMunicipio VARCHAR(150)
AS
BEGIN
  UPDATE Municipio
  SET NombreMunicipio = @NombreMunicipio
  WHERE IdMunicipio = @IdMunicipio;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarPago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarPago]
  @IdPago INT,
  @IdFactura INT,
  @IdMetodoDePago INT,
  @Monto INT,
  @FechaPago DATETIME,
  @EstadoPago VARCHAR(150)
AS
BEGIN
  UPDATE Pago
  SET IdFactura = @IdFactura,
      IdMetodoDePago = @IdMetodoDePago,
      Monto = @Monto,
      FechaPago = @FechaPago,
      EstadoPago = @EstadoPago
  WHERE IdPago = @IdPago;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarReserva]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarReserva]
  @IdReserva INT,
  @IdFinca INT,
  @NumeroDocumentoUsuario INT,
  @FechaReserva DATETIME,
  @FechaEntrada DATETIME,
  @FechaSalida DATETIME,
  @Estado VARCHAR(150),
  @MontoReserva INT
AS
BEGIN
  UPDATE Reserva
  SET IdFinca = @IdFinca,
      NumeroDocumentoUsuario = @NumeroDocumentoUsuario,
      FechaReserva = @FechaReserva,
      FechaEntrada = @FechaEntrada,
      FechaSalida = @FechaSalida,
      Estado = @Estado,
      MontoReserva = @MontoReserva
  WHERE IdReserva = @IdReserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarRol]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarRol]
  @IdRol INT,
  @NombreRol VARCHAR(300)
AS
BEGIN
  UPDATE Rol
  SET NombreRol = @NombreRol
  WHERE IdRol = @IdRol;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarUsuario]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarUsuario]
  @NumeroDocumento INT,
  @IdRol INT,
  @NombreUsuario VARCHAR(300),
  @ApellidoUsuario VARCHAR(300),
  @Telefono VARCHAR(100),
  @Contrasena VARCHAR(300),
  @Estado VARCHAR(150)
AS
BEGIN
  UPDATE Usuario
  SET IdRol = @IdRol,
      NombreUsuario = @NombreUsuario,
      ApellidoUsuario = @ApellidoUsuario,
      Telefono = @Telefono,
      Contrasena = @Contrasena,
      Estado = @Estado
  WHERE NumeroDocumento = @NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarRol]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarRol]
  @IdRol INT
AS
BEGIN
  DELETE FROM Rol
  WHERE IdRol = @IdRol;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_FincasConMasIngresos]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_FincasConMasIngresos]
AS
BEGIN
  SELECT TOP 5 
         F.IdFinca,
         F.NombreFinca,
         SUM(P.Monto) AS IngresosTotales
  FROM Pago P
  INNER JOIN Factura Fa ON P.IdFactura = Fa.IdFactura
  INNER JOIN Reserva R ON Fa.IdReserva = R.IdReserva
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  WHERE P.EstadoPago = 'Pagado'
  GROUP BY F.IdFinca, F.NombreFinca
  ORDER BY IngresosTotales DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_FincasMasReservadas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- Procedimientos de reporte / análisis
-- ========================================

CREATE PROCEDURE [dbo].[SP_FincasMasReservadas]
AS
BEGIN
  SELECT TOP 5 
         F.IdFinca,
         F.NombreFinca, 
         COUNT(R.IdReserva) AS CantidadReservas
  FROM Reserva R
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  GROUP BY F.IdFinca, F.NombreFinca
  ORDER BY CantidadReservas DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesion]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Login de Usuario
CREATE PROCEDURE [dbo].[SP_IniciarSesion]
  @Correo VARCHAR(500),
  @Contrasena VARCHAR(256)
AS
BEGIN
  SELECT 
    U.NumeroDocumento,
    U.IdRol,
    U.NombreUsuario,
    U.ApellidoUsuario,
    U.Telefono,
    U.Correo,
    U.Estado,
    R.NombreRol
  FROM Usuario U
  LEFT JOIN Rol R ON U.IdRol = R.IdRol
  WHERE U.Correo = @Correo 
    AND U.Contrasena = @Contrasena
    AND U.Estado = 'Activo';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarFinca]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- Procedimientos almacenados 
-- ========================================

-- Finca
CREATE PROCEDURE [dbo].[SP_InsertarFinca]
  @IdMunicipio INT,
  @NumeroDocumentoUsuario INT,
  @NombreFinca VARCHAR(300),
  @Direccion VARCHAR(500),
  @InformacionAdicional VARCHAR(500),
  @Capacidad INT,
  @Precio INT,
  @Estado VARCHAR(150),
  @Calificacion INT
AS
BEGIN
  INSERT INTO Finca (IdMunicipio, NumeroDocumentoUsuario, NombreFinca, Direccion, InformacionAdicional, Capacidad, Precio, Estado, Calificacion)
  VALUES (@IdMunicipio, @NumeroDocumentoUsuario, @NombreFinca, @Direccion, @InformacionAdicional, @Capacidad, @Precio, @Estado, @Calificacion);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarRol]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Rol
CREATE PROCEDURE [dbo].[SP_InsertarRol]
  @NombreRol VARCHAR(300)
AS
BEGIN
  INSERT INTO Rol (NombreRol)
  VALUES (@NombreRol);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarFacturas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarFacturas]
AS
BEGIN
  SELECT 
    Fa.IdFactura,
    Fa.FechaFactura,
    Fa.Total,
    R.IdReserva,
    R.FechaReserva,
    R.Estado AS EstadoReserva,
    F.IdFinca,
    F.NombreFinca,
    F.Precio AS PrecioFinca,
    M.NombreMunicipio,
    U.NumeroDocumento AS IdPropietario,
    U.NombreUsuario AS NombrePropietario,
    U.ApellidoUsuario AS ApellidoPropietario
  FROM Factura Fa
  INNER JOIN Reserva R ON Fa.IdReserva = R.IdReserva
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN Usuario U ON F.NumeroDocumentoUsuario = U.NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarFincas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarFincas]
AS
BEGIN
  SELECT 
    F.IdFinca,
    F.NombreFinca,
    F.Direccion,
    F.InformacionAdicional,
    F.Capacidad,
    F.Precio,
    F.Estado,
    F.Calificacion,
    M.IdMunicipio,
    M.NombreMunicipio,
    U.NumeroDocumento AS IdPropietario,
    U.NombreUsuario AS NombrePropietario,
    U.ApellidoUsuario AS ApellidoPropietario,
    U.Telefono AS TelefonoPropietario,
    U.Correo AS CorreoPropietario
  FROM Finca F
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN Usuario U ON F.NumeroDocumentoUsuario = U.NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarImagenes]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarImagenes]
AS
BEGIN
  SELECT 
    I.IdImagen,
    I.UrlImagen,
    F.IdFinca,
    F.NombreFinca,
    F.Direccion,
    M.NombreMunicipio,
    U.NombreUsuario AS NombrePropietario,
    U.ApellidoUsuario AS ApellidoPropietario
  FROM Imagen I
  INNER JOIN Finca F ON I.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN Usuario U ON F.NumeroDocumentoUsuario = U.NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMetodosDePago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarMetodosDePago]
AS
BEGIN
  SELECT 
    MP.IdMetodoDePago,
    MP.NombreMetodoDePago,
    MP.PagoMixto
  FROM MetodoDePago MP;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMunicipios]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarMunicipios]
AS
BEGIN
  SELECT 
    M.IdMunicipio,
    M.NombreMunicipio
  FROM Municipio M;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarPagos]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarPagos]
AS
BEGIN
  SELECT 
    P.IdPago,
    P.Monto,
    P.FechaPago,
    P.EstadoPago,
    P.IdFactura,
    Fa.FechaFactura,
    Fa.Total AS TotalFactura,
    R.IdReserva,
    R.Estado AS EstadoReserva,
    F.IdFinca,
    F.NombreFinca,
    F.Precio AS PrecioFinca,
    M.NombreMunicipio,
    MP.IdMetodoDePago,
    MP.NombreMetodoDePago,
    MP.PagoMixto,
    U.NumeroDocumento AS IdPropietario,
    U.NombreUsuario AS NombrePropietario,
    U.ApellidoUsuario AS ApellidoPropietario
  FROM Pago P
  INNER JOIN Factura Fa ON P.IdFactura = Fa.IdFactura
  INNER JOIN Reserva R ON Fa.IdReserva = R.IdReserva
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN MetodoDePago MP ON P.IdMetodoDePago = MP.IdMetodoDePago
  INNER JOIN Usuario U ON F.NumeroDocumentoUsuario = U.NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarReservas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarReservas]
AS
BEGIN
  SELECT 
    R.IdReserva,
    R.FechaReserva,
    R.FechaEntrada,
    R.FechaSalida,
    R.MontoReserva,
    R.Estado,
    R.NumeroDocumentoUsuario,
    F.IdFinca,
    F.NombreFinca,
    F.Precio AS PrecioFinca,
    F.Estado AS EstadoFinca,
    M.NombreMunicipio,
    PropietarioFinca.NumeroDocumento AS IdPropietario,
    PropietarioFinca.NombreUsuario AS NombrePropietario,
    PropietarioFinca.ApellidoUsuario AS ApellidoPropietario,
    Cliente.NumeroDocumento AS NumeroDocumentoCliente,
    Cliente.NombreUsuario AS NombreCliente,
    Cliente.ApellidoUsuario AS ApellidoCliente,
    Cliente.Telefono AS TelefonoCliente,
    Cliente.Correo AS CorreoCliente
  FROM Reserva R
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN Usuario PropietarioFinca ON F.NumeroDocumentoUsuario = PropietarioFinca.NumeroDocumento
  LEFT JOIN Usuario Cliente ON R.NumeroDocumentoUsuario = Cliente.NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarReservasPorUsuario]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarReservasPorUsuario]
  @NumeroDocumentoUsuario INT
AS
BEGIN
  SELECT 
    R.IdReserva,
    R.FechaReserva,
    R.FechaEntrada,
    R.FechaSalida,
    R.MontoReserva,
    R.Estado,
    R.NumeroDocumentoUsuario,
    F.IdFinca,
    F.NombreFinca,
    F.Precio AS PrecioFinca,
    F.Estado AS EstadoFinca,
    F.Capacidad,
    M.NombreMunicipio,
    PropietarioFinca.NumeroDocumento AS IdPropietario,
    PropietarioFinca.NombreUsuario AS NombrePropietario,
    PropietarioFinca.ApellidoUsuario AS ApellidoPropietario,
    PropietarioFinca.Telefono AS TelefonoPropietario,
    Cliente.NumeroDocumento AS NumeroDocumentoCliente,
    Cliente.NombreUsuario AS NombreCliente,
    Cliente.ApellidoUsuario AS ApellidoCliente,
    Cliente.Telefono AS TelefonoCliente,
    Cliente.Correo AS CorreoCliente
  FROM Reserva R
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  INNER JOIN Usuario PropietarioFinca ON F.NumeroDocumentoUsuario = PropietarioFinca.NumeroDocumento
  LEFT JOIN Usuario Cliente ON R.NumeroDocumentoUsuario = Cliente.NumeroDocumento
  WHERE R.NumeroDocumentoUsuario = @NumeroDocumentoUsuario
  ORDER BY R.FechaReserva DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarRol]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarRol]
AS
BEGIN
  SELECT 
    R.IdRol,
    R.NombreRol
  FROM Rol R;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuarios]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarUsuarios]
AS
BEGIN
  SELECT 
    U.NumeroDocumento,
    U.NombreUsuario,
    U.ApellidoUsuario,
    U.Telefono,
    U.Correo,
    U.Contrasena,
    U.Estado,
    R.IdRol,
    R.NombreRol
  FROM Usuario U
  INNER JOIN Rol R ON U.IdRol = R.IdRol;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MunicipiosConMasReservas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MunicipiosConMasReservas]
AS
BEGIN
  SELECT 
         M.NombreMunicipio,
         F.IdFinca,
         F.NombreFinca,
         COUNT(R.IdReserva) AS TotalReservas
  FROM Reserva R
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  INNER JOIN Municipio M ON F.IdMunicipio = M.IdMunicipio
  GROUP BY M.NombreMunicipio, F.IdFinca, F.NombreFinca
  ORDER BY TotalReservas DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_PagosPendientes]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PagosPendientes]
AS
BEGIN
  SELECT 
         P.IdPago,
         Fa.IdFactura,
         F.IdFinca,
         F.NombreFinca,
         P.Monto,
         P.FechaPago,
         P.EstadoPago
  FROM Pago P
  INNER JOIN Factura Fa ON P.IdFactura = Fa.IdFactura
  INNER JOIN Reserva R ON Fa.IdReserva = R.IdReserva
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  WHERE P.EstadoPago = 'Pendiente';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_PromedioCalificacionFincas]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PromedioCalificacionFincas]
AS
BEGIN
  SELECT 
         F.IdFinca,
         F.NombreFinca, 
         AVG(CAST(F.Calificacion AS FLOAT)) AS PromedioCalificacion
  FROM Finca F
  WHERE F.Calificacion IS NOT NULL
  GROUP BY F.IdFinca, F.NombreFinca
  ORDER BY PromedioCalificacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarFactura]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Factura
CREATE PROCEDURE [dbo].[SP_RegistrarFactura]
  @IdReserva INT,
  @FechaFactura DATETIME,
  @Total INT
AS
BEGIN
  INSERT INTO Factura (IdReserva, FechaFactura, Total)
  VALUES (@IdReserva, @FechaFactura, @Total);
  
  SELECT SCOPE_IDENTITY() AS IdFactura;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarImagen]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Imagen
CREATE PROCEDURE [dbo].[SP_RegistrarImagen]
  @UrlImagen VARCHAR(500),
  @IdFinca INT
AS
BEGIN
  INSERT INTO Imagen (UrlImagen, IdFinca)
  VALUES (@UrlImagen, @IdFinca);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarMetodoDePago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Metodo De Pago
CREATE PROCEDURE [dbo].[SP_RegistrarMetodoDePago]
  @NombreMetodoDePago VARCHAR(150),
  @PagoMixto BIT
AS
BEGIN
  INSERT INTO MetodoDePago (NombreMetodoDePago, PagoMixto)
  VALUES (@NombreMetodoDePago, @PagoMixto);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarMunicipio]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Municipio
CREATE PROCEDURE [dbo].[SP_RegistrarMunicipio]
  @NombreMunicipio VARCHAR(150)
AS
BEGIN
  INSERT INTO Municipio (NombreMunicipio)
  VALUES (@NombreMunicipio);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarPago]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pago
CREATE PROCEDURE [dbo].[SP_RegistrarPago]
  @IdFactura INT,
  @IdMetodoDePago INT,
  @Monto INT,
  @FechaPago DATETIME,
  @EstadoPago VARCHAR(150)
AS
BEGIN
  INSERT INTO Pago (IdFactura, IdMetodoDePago, Monto, FechaPago, EstadoPago)
  VALUES (@IdFactura, @IdMetodoDePago, @Monto, @FechaPago, @EstadoPago);
  
  SELECT SCOPE_IDENTITY() AS IdPago;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarReserva]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reserva
CREATE PROCEDURE [dbo].[SP_RegistrarReserva]
  @IdFinca INT,
  @NumeroDocumentoUsuario INT,
  @FechaReserva DATETIME,
  @FechaEntrada DATETIME,
  @FechaSalida DATETIME,
  @MontoReserva INT,
  @Estado VARCHAR(150)
AS
BEGIN
  INSERT INTO Reserva (IdFinca, NumeroDocumentoUsuario, FechaReserva, FechaEntrada, FechaSalida, MontoReserva, Estado)
  VALUES (@IdFinca, @NumeroDocumentoUsuario, @FechaReserva, @FechaEntrada, @FechaSalida, @MontoReserva, @Estado);
  
  SELECT SCOPE_IDENTITY() AS IdReserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Usuario
CREATE PROCEDURE [dbo].[SP_RegistrarUsuario]
  @IdRol INT,
  @NombreUsuario VARCHAR(300),
  @ApellidoUsuario VARCHAR(300),
  @Telefono VARCHAR(100),
  @Correo VARCHAR(300),
  @Contrasena VARCHAR(300),
  @Estado VARCHAR(150)
AS
BEGIN
  INSERT INTO Usuario (IdRol, NombreUsuario, ApellidoUsuario, Telefono, Correo, Contrasena, Estado)
  VALUES (@IdRol, @NombreUsuario, @ApellidoUsuario, @Telefono, @Correo, @Contrasena, @Estado);
  
  SELECT SCOPE_IDENTITY() AS NumeroDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalIngresosPorFinca]    Script Date: 14/11/2025 10:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TotalIngresosPorFinca]
AS
BEGIN
  SELECT 
         F.IdFinca,
         F.NombreFinca, 
         SUM(P.Monto) AS TotalIngresos
  FROM Pago P
  INNER JOIN Factura Fa ON P.IdFactura = Fa.IdFactura
  INNER JOIN Reserva R ON Fa.IdReserva = R.IdReserva
  INNER JOIN Finca F ON R.IdFinca = F.IdFinca
  WHERE P.EstadoPago = 'Pagado'
  GROUP BY F.IdFinca, F.NombreFinca;
END;
GO
USE [master]
GO
